*{	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
.header-content-inner{
	position: relative;
    width: 100%;
    text-align: center;
    color: white;
}
.first-text{
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	font-size: 60px;
	font-weight: 300;
	transform: translate(-50%, -50%)
}
.second-text{
	position: absolute;
	top: 70%;
	left: 50%;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	transform: translate(-50%, -50%)
}
.btn-lg{
	position: absolute;
	top:85%;
	left: 50%;
	font-size: 20px;
	color: white;
	transform: translate(-50%, -50%);
	background-color: yellowgreen;
	border-radius: 20px;
	transition: 0.4s;
	cursor: pointer;
}
.btn-default{
	font-size: 20px;
	color: white;
	border-radius: 30px;
	background-color: yellowgreen;
}
.btn-secondary{
	font-size: 20px;
	color: black;
	border-radius: 20px;
	background-color: white!important;
}
.intro{
	background-color: yellowgreen;
	color: white;
	padding: 80px 0;
	text-align: center;
}
.section-content{
	 padding: 3% 0 5%;
}
.content-2{
	background-color: black;
	color: white;
	 padding: 3% 0 5%;
}
.col-md-4{
	margin-left: 0;
	margin-right: 0;
	padding-right: 0;
	padding-left:  0;
}
.promo-item{
	position: relative;
	text-align: center;
	color: white;
}
.simple{
	font-size: 40px;
	position: absolute;
	
}

.content-3{
	text-align: center;
	font-size: 15px;
	 padding: 3% 0 5%;
}
.bi-pin-angle-fill{
	color: yellowgreen;
}

.footer{
	background-color: yellowgreen;
	text-align: center;
	color: white;
	 padding: 3% 0 5%;
}
.small-print{
	 padding: 3% 0 5%;
}
@media(min-width: 768px){

.header{
	min-height:100%;
}
header-content-inner{
	 margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
}
.first-text{
	position: absolute;
	top: 40%;
	left: 50%;
}
.second-text{
	position: absolute;
	top: 75%;
	left: 50%;
}
.btn-lg{
	position: absolute;
	top: 85%;
	left: 50%;
}
}


